body{
	margin: 0;
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.4;
	background: #eaeaea url('../image/bg.png');
}

.todo-container{
	position: relative;
	width: 550px;
	margin: 50px auto;
	/*box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.15);*/
}

h1{
	font-size: 70px;
	font-weight: bold;
	text-align: center;
	color: #b3b3b3;
	color: rgba(255, 255, 255, 0.8);
	text-shadow: -1px -1px rgba(0, 0, 0, 0.2);
	margin-bottom: 0px;
}

.todo-content{
	position: relative;
}

.seperator{
	position: absolute;
	left: 40px;
	top: 0;
	bottom: 0;
	width: 2px;
	border-left: solid 1px #EFD0D0;
	border-right: solid 1px #EFD0D0;
}

.todo-banner{
	height: 15px;
  z-index: 2;
  border-bottom: 1px solid #6c615c;
  background: #8d7d77;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(132, 110, 100, 0.8)),to(rgba(101, 84, 76, 0.8)));
  background: -webkit-linear-gradient(top, rgba(132, 110, 100, 0.8), rgba(101, 84, 76, 0.8));
  background: linear-gradient(top, rgba(132, 110, 100, 0.8), rgba(101, 84, 76, 0.8));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#9d8b83', EndColorStr='#847670');
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
}

.todo-input{
	background: rgba(255, 255, 255, 0.9);
	position: relative;
	cursor: pointer;
}

.todo-toggle{
	position: absolute;
	left: 15px;
	top: 10px;
	transform: rotate(90deg);
}

.todo-toggle::before{
	content: '»';
  font-size: 28px;
  color: #d9d9d9;
}

input{
	width: 100%;
	padding: 16px 16px 16px 60px;
	font-size: 24px;
	border: none;
	outline: none;
	background: rgba(0, 0, 0, 0.05);
	box-sizing: border-box;
}

.todo-items{
	margin: 0px;
	padding-left: 0;
	list-style: none;
	background: #fdfdfd;
}

.todo-item{
  padding: 15px 60px 15px 15px;
  color: #a9a9a9;
  font-size: 20px;
  border-bottom: dashed 1px #ccc;
}

.todo-item::before{
	content: '✔';
	color: #d9d9d9;
	font-size: 20px;
	padding-right: 20px;
}

.todo-item.done::before{
	color: #85ada7;
	text-shadow: 0 1px 0 #669991;
}

.todo-item.done span{
	text-decoration: line-through;
}

.todo-item:last-child{
	border-bottom: none;
}

.todo-summary{
	color: #777;
  padding: 0 15px;
  position: absolute;
  right: 0;
  bottom: -31px;
  left: 0;
  height: 20px;
  z-index: -5;
  text-align: center;
}

.todo-summary::before{
	content: '';
  position: absolute;
  right: 0;
  bottom: 31px;
  left: 0;
  height: 50px;
  z-index: -1;
  box-shadow: 0 6px 0 -3px rgba(255, 255, 255, 0.8), 0 7px 1px -3px rgba(0, 0, 0, 0.3), 0 43px 0 -6px rgba(255, 255, 255, 0.8), 0 44px 2px -6px rgba(0, 0, 0, 0.2);
}

.todo-left{
	float: left;
}

.todo-left span{
	font-weight: bold;
}

.todo-filters span{
	padding: 0 3px;
	cursor: pointer;
}

.todo-filters{
	display: inline-block;
}

.todo-filters .current{
	font-weight: bold;
}

.todo-clear{
	float: right;
  position: relative;
  line-height: 20px;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.1);
  font-size: 11px;
  padding: 0 10px;
  border-radius: 3px;
  box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.todo-clear:hover{
	background: rgba(0, 0, 0, 0.15);
  box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.3);
}

.footer{
	margin-top: 70px;
}

.footer, .footer a{
	font-size: 12px;
	text-align: center;
	color: #a6a6a6;
}
