<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Router</title>
    <script src="/js/lib/jquery-2.1.4.js"></script>
    <script src="/js/lib/underscore.js"></script>
    <script src="/js/lib/backbone.js"></script>
</head>
<body>
    <a href="#actions">testActions</a><br>
    <a href="#/posts/120">Post 120</a><br>
    <a href="#/download/user/images/hey.gif">download gif</a><br>
    <a href="#/dashboard/graph">Load Route/Action View</a><br>
    <a href="#/manual">manual</a>

    <script src="/js/demo4/index.js"></script>
</body>
</html>
