<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View</title>
    <script src="/js/lib/jquery-2.1.4.js"></script>
    <script src="/js/lib/underscore.js"></script>
    <script src="/js/lib/backbone.js"></script>
</head>
<body>
    <div id="search_container"></div>
    <script id="search_template" type="text/template">
        <label><%= search_label %></label>
        <input type="text" id="search_input" />
        <input type="button" id="search_button" value="Search" />
    </script>

    <script src="/js/demo5/index.js"></script>
</body>
</html>
