.dialog{
	width: 600px;
	position: fixed;
	z-index: 10;
	top: 100px;
	left: 50%;
	margin-left: -300px;
	box-shadow: 3px 3px 5px #ccc;
	display: none;
	background: #fff;
}

.header{
	height: 30px;
	font-size: 18px;
	line-height: 30px;
	padding-left: 10px;
	border-bottom: solid 1px #333;
}

.close{
	float: right;
	height: 20px;
	width: 20px;
	text-align: center;
	line-height: 20px;
	background: #666;
	color: #fff;
	margin-top: 5px;
	margin-right: 5px;
	cursor: pointer;
	border-radius: 10px;
}

.content{
	padding: 20px;
}
