$baseColor: #666;

a{
  color: $baseColor;
  &:hover{
    text-decoration: underline;
  }
}

p{
  @extend a;
  background: $baseColor;

  img{
    width: 50%;
    height: 20px;
  }
}


.container{
  margin: 20px auto;
  width: 400px;
  border: solid 1px orange;
  height: 150px;
  column-count: 3;
}
